<%= render "layouts/topbar" %>
<h1>Implementation</h1>
<p>Blocitoff is a Ruby on Rails application that implements the following:</p>
<ul>
  <li>Local registration using email and password</li>
  <li>Registration using Facebook and omniauth middleware</li>
  <li>Rake task automation using whenever gem</li>
  <li>Figaro to handle environment variables</li>
  <li>You can create, complete, and delete tasks. Uncompleted tasks will expire after 7 days</li>
</ul>